[Desktop Entry]
Icon=text-html
Name=https://upload.wikimedia.org/wikipedia/commons/5/59/Violet-crowned_Hummingbird_-_8759355913.jpg
Type=Link
URL[$e]=https://upload.wikimedia.org/wikipedia/commons/5/59/Violet-crowned_Hummingbird_-_8759355913.jpg
